# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

python/*.exe
python/*.dll
python/*.pyd
python/*.zip
python/Lib/
python/Scripts/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
click_calibration.json
python/*.exe
node_modules/
dist/
build/win-unpacked/
