# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

python/*.exe
python/*.dll
python/*.pyd
python/*.zip
python/Lib/
python/Scripts/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
click_calibration.json
python/*.exe
node_modules/
dist/
build/win-unpacked/

python/*.exe
node_modules/
dist/
build/win-unpacked/

python/python.exe
python/python3.dll
python/python313.dll
python/python313.zip
python/python313._pth
python/get-pip.py
python/LICENSE.txt
python/python.cat
python/*.pyd
python/*.dll
python/Lib/
python/Scripts/
python/__pycache__/